.Header {
  padding: 1rem;

  &__logo {
    width: 75vw;
    display: block;
    margin: 0 auto;
  }

  &__social-nav {
    display: flex;
    justify-content: center;

    &__item {
      color: $white;
    }
  }
}